version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: teamfinder-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: teamfinder
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
